<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.edu.tesoem.isc.meta.proyecto1meta">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Btn5_5Activity"></activity>
        <activity android:name=".Btn5Activity" />
        <activity android:name=".Btn3_3Activity" />
        <activity android:name=".Btn2_2Activity" />
        <activity android:name=".Btn1_1Activity" />
        <activity android:name=".Btn4Activity" />
        <activity android:name=".Btn3Activity" />
        <activity android:name=".Btn2Activity" />
        <activity android:name=".Btn1Activity" />
        <activity android:name=".Pantalla2Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>